body {
  margin: 0;
  background: url(home.jpg);
  background-size: cover;
  /* filter:blur 5px; */
}
a {
  text-decoration: none;
}
.grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  /* padding:10px; */
  /* background: url("landing.jpg"); */
}
.grid-items {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  /* margin-top: 0; */
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: white;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
img {
  border-radius: 5px 5px 0 0;
  padding-top: 20px;
  width: 90%;
}
.cardcontainer {
  padding: 2px 16px;
}
.card h4 {
  width: 100%;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  background-color: coral;
  font-size: 20px;
  border-radius: 5px;
  color: white;
}
.card p {
  font-style: normal;
  font-family: sans-serif;
  background-color: rgba(109, 80, 255, 0.509);
  font-size: 15px;
  color: black;
  border-radius: 5px;
  font-weight: bold;
}
table,
th,
td {
  border: 1px solid white;
}
table {
  /* width:100vh; */
  margin: 0;
  background-color: rgba(0, 0, 0, 0.749);
  position: absolute;
  left: 20%;
  top: 100px;
  color: white;
  text-align: center;
}
th {
  text-transform: uppercase;
  font-weight: bold;
  position: sticky;
  top: 5px;
}
th,
td {
  width: 300px;
}
input {
  width: 500px;
  opacity: 0.5;
}
.update_btn {
  width: 100px;
  opacity: 1;
  background-color: rgba(0, 0, 255, 0.829);
  border: none;
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
  color: white;
  align-content: center;
  position:absolute;
  left:70%;
}
