* {
  text-transform: capitalize;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.homebody {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  /* background:url("landing.jpg"); */
  background-size: 100%;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  opacity: 0.5;
}
.navbar:hover {
  opacity: 1;
}

.navbar a {
  width: 80px;
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  /* position: sticky; */
  top: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  opacity: 1;
}
.dropdown {
  width: 150px;
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  width: 150px;
}
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  /* position: sticky; */
  /* top:0; */
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  /* position: sticky; */
  top: 0;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.logout_btn {
  background-color: rgba(0, 0, 255, 0.792);
  border: none;
  border-radius: 3px;
  width: 50px;
  color: white;
  font-weight: bold;
  position: relative;
  left: 1000px;
}
